

    <%- include('head') -%>

    <div class="box" id="heading">
    <h1> <%= listTitle %></h1>
    <h4> Sign In and Add your Task</h4>
    <h4 style="color: red;"><%= signinError %></h4>

    </div>

    <div class="box form">
        <form action="/login" method="post">
            
            <label for="country">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="country">Password</label>
            <input type="password" id="password" name="password" required placeholder="*****">
          
            <input type="submit" value="Submit">
          </form>
          <p>Don't have an account? <a href="http://localhost:1111/">Sign Up</a></p>
    </div>
   
    <%- include('footer') -%>
